[access]
	inheritFrom = All-Projects
[project]
	description = Netconf
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-netconf-committers
	read = group GitHub Replication
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
