[access]
	inheritFrom = All-Projects
[project]
	description = Netconf
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-netconf-committers
	read = group GitHub Replication
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
