[access]
	inheritFrom = All-Projects
[project]
	description = Netconf
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-netconf-committers
	read = group GitHub Replication
[access "refs/heads/master"]
	push = group Administrators
	pushMerge = group Administrators
[access "refs/for/refs/heads/master"]
	push = group Administrators
	pushMerge = group Administrators
