# Configuration properties when creating an operational InMemoryDOMDataStore
operational.max-data-change-executor-queue-size=1000
operational.max-data-change-executor-pool-size=20
operational.max-data-change-listener-queue-size=1000
operational.max-data-store-executor-queue-size=5000
operational.debug-transaction=false

# Configuration properties when creating an configuration InMemoryDOMDataStore
configuration.max-data-change-executor-queue-size=1000
configuration.max-data-change-executor-pool-size=20
configuration.max-data-change-listener-queue-size=1000
configuration.max-data-store-executor-queue-size=5000
configuration.debug-transaction=false
