@media (max-width: 1200px) {
    .swagger-ui .topbar .topbar-wrapper {
        align-items: initial;
        display: flex;
        flex-direction: column !important;
    }

    .swagger-ui .topbar .download-url-wrapper {
        display: flex;
        flex: 3;
        justify-content: flex-start !important;
    }

    .swagger-ui .topbar .download-url-wrapper .select-label #select {
        flex: auto !important;
        display: 100%;
        width: 100% !important;
    }
}

.swagger-ui .topbar .topbar-wrapper h2 {
    align-items: center;
    display: flex;
}

.swagger-ui .topbar .topbar-wrapper img {
    content:url('logo_small.png');
}

.swagger-ui .schemes-server-container .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.swagger-ui .schemes-server-container .input-wrapper input {
    border: 2px solid #41444e;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    color: #3b4151;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 5px 5px 10px;
}

.swagger-ui .schemes-server-container .input-wrapper label {
    margin: 4px 0 1px;
}

.swagger-ui input {
    appearance: none;
    background: #f7f7f7;
    background-size: auto;
    background-size: 20px;
    border: 2px solid #41444e;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    color: #3b4151;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 40px 5px 10px;
}